body{
  margin:0;
  font-family:"Cairo",sans-serif;
  background:#f1f5f9;
  display:flex;
}

/* SIDEBAR */
.sidebar{
  width:250px;
  height:100vh;
  background:linear-gradient(180deg,#0f172a,#1e3a8a);
  color:white;
  padding:20px;
  position:fixed;
  left:0;
  top:0;
  transition:0.3s;
}

.sidebar.hidden{
  transform:translateX(-100%);
}

/* MAIN */
.main{
  margin-left:270px;
  padding:20px;
  width:100%;
  transition:0.3s;
}

.main.full{
  margin-left:20px;
}

/* TOP */
.topbar{
  background:white;
  padding:15px;
  border-radius:12px;
  display:flex;
  align-items:center;
  gap:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* MENU */
.menu-btn{
  font-size:22px;
  border:none;
  background:#0f172a;
  color:white;
  padding:8px 12px;
  border-radius:8px;
  cursor:pointer;
}

/* MAIN BUTTONS */
.sidebar .main-btn{
  width:100%;
  padding:12px;
  margin:6px 0;
  border:none;
  border-radius:10px;
  cursor:pointer;
  background:linear-gradient(135deg,#1e3a8a,#3b82f6);
  color:white;
  font-weight:bold;
}

/* SUBMENU */
.submenu{
  display:none;
  margin-left:10px;
}

.submenu button{
  width:100%;
  padding:10px;
  margin:5px 0;
  border:none;
  border-radius:8px;
  cursor:pointer;
  background:#e2e8f0;
  color:#111;
}

.submenu button:hover{
  background:#38bdf8;
  color:white;
}

/* ACTIVE */
.active-btn{
  background:#22c55e !important;
  color:black !important;
}

/* BOX */
.box{
  margin-top:20px;
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* SIM BUTTON */
.sim-btn{
  padding:10px;
  margin:5px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  background:#f59e0b;
  font-weight:bold;
}
.sim-btn:hover{
  background:#ef4444;
  color:white;
}

table{
  width:100%;
  margin-top:10px;
  border-collapse:collapse;
}

td,th{
  border:1px solid #ccc;
  padding:8px;
  text-align:center;
}